.footer {
  background-color: #381a01;
  backdrop-filter: blur(10px);
  border-top: 1px solid rgb(255, 94, 0);
  padding: 2rem 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.link {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.githublink {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: rgb(255, 38, 0);
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: all 0.2s ease;
  border: 1px solid transparent;
}
.githublink:hover {
  color: tomato;
  background: #642e01;
  border-color: rgb(255, 255, 255);
  transform: translate(-1px);
}
.githubIcon {
  width: 1.25rem;
  height: 1.25rem;
  transition: transform 0.2 ease;
}
.githubIcon:hover {
  transform: scale(1.5);
}
