.container {
  min-height: 42vh;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.MSGcontainer {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.icon {
  font-size: 7rem;
}
.tex {
  font-size: 1.5rem;
  color: aliceblue;
  text-align: center;
  font-family: fantasy;
  background: linear-gradient(0deg, #dd9ef7 0%, #dcdcdc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(10px 8px 5px rgb(83, 41, 11));
}
.tex1 {
  font-size: 1.5rem;
  color: aliceblue;
  text-align: center;
  font-family: fantasy;
  background: linear-gradient(0deg, #bbdefb 0%, #fff9c4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(10px 8px 5px rgb(83, 41, 11));
}
