* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.6;

  color: rgb(255, 255, 255);
}
img {
  max-width: 100%;
  height: auto;
}
button,
input {
  font-family: inherit;
}
