.header {
  background: linear-gradient(45deg, skyblue 0%, navy 100%);
  backdrop-filter: blur(10px);
  border-bottom: 3px solid rgb(94, 40, 9);
  padding: 2rem 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
}
.conteiner {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.title {
  font-size: 2.5rem;
  font-weight: 700;
  color: turquoise;
  margin: 0 0 1.5rem 0;
  letter-spacing: 0, 025em;
  text-shadow: 10px 0 10px rgb(102, 50, 14);
}
