.card {
  background-color: rgb(208, 178, 248);
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid;
  position: relative;
}
.imgContainer {
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.image {
  border-radius: 10%;
  object-fit: cover;
  padding: 8px;
}
.content {
  padding: 1.5rem;
}
.name {
  font-size: 1.25rem;
  font-weight: 600;
  color: rgb(188, 88, 238);
  display: flex;
  justify-content: center;
}
.description {
  font-size: 0.875rem;
  color: darkorchid;
  line-height: 1.6;
  margin: 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
@media (max-width: 768px) {
  .card {
    padding: 1.25rem;
  }
  .name {
    font-size: 1.25rem;
  }
  .description {
    font-size: 0.8125rem;
  }
}
.delete {
  position: absolute;
  background-color: firebrick;
  padding: 10px;
  bottom: 1.7rem;
  border: 2px solid darkred;
  border-radius: 8px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s;
}
.card:hover .delete {
  opacity: 1;
}

.detalhe {
  position: absolute;
  background-color: rgb(28, 187, 36);
  padding: 10px;
  bottom: 1.7rem;
  right: 2rem;
  border: 2px solid rgb(17, 138, 23);
  border-radius: 8px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s;
}
.card:hover .detalhe {
  opacity: 1;
}
