.header {
  background: linear-gradient(45deg, cornflowerBlue 0%, navy 100%);
  backdrop-filter: blur(10px);
  border-bottom: 3px solid;
  border-image: linear-gradient(45deg, rgb(65, 1, 110) 0%, mediumpurple 100%);
  border-image-slice: 1;
  padding: 2rem 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
}
.conteiner {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.title {
  font-size: 2.5rem;
  font-weight: 700;
  color: turquoise;
  letter-spacing: 0, 025em;
  background: linear-gradient(45deg, #ffeb3b 0%, rgb(180, 137, 27) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(10px 8px 5px rgb(99, 49, 13));
}
.gif {
  width: 100px;
  position: absolute;
  margin-right: 20px;
  margin-bottom: 5px;
}
.test {
  margin-top: -1.5rem;
  display: flex;
  justify-content: center;
}
.input {
  padding: 8px;
  border: 2px solid rgb(91, 190, 252);
  border-radius: 8px;
  transition: all 0.001s;
  margin-right: 5px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1rem;
}
.input:focus {
  transform: scale(1.05);
}
.button,
.clear {
  background: linear-gradient(45deg, navy 0%, cornflowerBlue 100%);
  color: rgb(255, 255, 255);
  padding: 8px;
  border: 2px solid rgb(91, 190, 252);
  border-radius: 8px;
  place-self: flex-end;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 5px;
}
.colorp:hover {
  padding: 2px;
  background: linear-gradient(45deg, black 0%, aquamarine);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.button:hover {
  background: linear-gradient(45deg, Chartreuse 0%, darkgreen 100%);
  border: 2px;
  transform: translatey(-1px);
  box-shadow: 0 2px 4px rgb(99, 49, 13);
}
.clear:hover {
  background: linear-gradient(45deg, red 0%, firebrick 100%);
  border: 2px;
  transform: translatey(-1px);
  box-shadow: 0 2px 4px rgb(99, 49, 13);
}
